.login2(ng-controller='SignInCtrl')
  .login-wrapper
    a(href='./')
      img(width='160', height='48', src='/static/logo/exports/logo.png', title='oTMS Device Management Platform')

    form(name='signin', novalidate, ng-submit='submit()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors below
        span(ng-show='error.$incorrect', translate) Incorrect login details
        span(ng-show='error.$server', translate) Server error. Check log output.

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='Name',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span(translate) Please enter your name

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='password',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login password')
        .alert.alert-warning(ng-show='signin.password.$dirty && signin.password.$invalid')
          span(ng-show='signin.password.$error.password', translate) Please enter a valid password
          span(ng-show='signin.password .$error.required', translate) Please enter your password

      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Log In')

    form(name='register', novalidate, ng-submit='register()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors below
        span(ng-show='error.$incorrect', translate) Incorrect login details
        span(ng-show='error.$server', translate) Server error. Check log output.

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='Name',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span(translate) Please enter your name

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='email', name='email', required, type='text', placeholder='email',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login email')
        .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
          span(translate) Please enter your email

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='password',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login password')
        .alert.alert-warning(ng-show='signin.password.$dirty && signin.password.$invalid')
          span(ng-show='signin.password.$error.password', translate) Please enter a valid password
          span(ng-show='signin.password .$error.required', translate) Please enter your password

      input.btn.btn-lg.btn-primary.btn-block(type='register', value='register')
